# Creando una base de datos

Usemos este cuaderno de Jupyter para crear nuestra base de datos y nuestra primer tabla.

El primer paso es asegurarnos de estar trabajando en una base de datos limpia.

In [3]:
import sqlite3

conn = sqlite3.connect('db_glassdoor')

c = conn.cursor()

# c.execute("DROP TABLE job_roles")

In [5]:
import sqlite3

conn = sqlite3.connect("db_glassdoor")
c = conn.cursor()

c.execute("""
          CREATE TABLE IF NOT EXISTS job_roles (
            [company_name] TEXT,
            [company_rating] FLOAT,
            [job_title] TEXT,
            [job_link] TEXT,
            [job_id] TEXT,
            [location] TEXT,
            [is_fast_candidacy] BOOLEAN,
            [salary_range_min] FLOAT,
            [salary_range_max] FLOAT,
            [listing_age_days] FLOAT
          )
          """)

conn.commit()
conn.close()

In [11]:
import pandas as pd

conn = sqlite3.connect("db_glassdoor") 

data = pd.read_sql_query("SELECT * FROM job_roles", conn)

In [12]:
data

Empty DataFrame
Columns: [company_name, company_rating, job_title, job_link, job_id, location, is_fast_candidacy, salary_range_min, salary_range_max, listing_age_days]
Index: []