# Leyendo de una base de datos

Habiendo ejecutado correctamente nuestro flujo de trabajo con Dagster, es hora de leer los datos almacenados.

In [4]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("db_glassdoor") 
c = conn.cursor()

data = pd.read_sql_query("SELECT * FROM job_roles", conn)

In [2]:
data.dtypes

company_name          object
company_rating        object
job_title             object
job_link              object
job_id                object
location              object
is_fast_candidacy      int64
salary_range_min     float64
salary_range_max     float64
listing_age_days     float64
dtype: object

In [5]:
data.head()

,company_name,company_rating,job_title,job_link,job_id,location,is_fast_candidacy,salary_range_min,salary_range_max,listing_age_days
0,Mphasis Limited (Digital Risk Business),3.5,Sustainability Analyst,https://www.glassdoor.com.mx/job-listing/susta...,1008841088130,Guadalajara,1,15.0,16.0,30.0
1,Wise Athena,None,Data Analyst,https://www.glassdoor.com.mx/job-listing/data-...,1008910190887,Trabajo desde casa,1,19.0,28.0,20.0
2,VEscape Labs,None,Data Analyst,https://www.glassdoor.com.mx/job-listing/data-...,1008944837261,Trabajo desde casa,1,NaN,NaN,1.0
3,Lionbridge Technologies,3.6,Data Engineer II,https://www.glassdoor.com.mx/job-listing/data-...,1008839275512,Ciudad de México,1,27.0,32.0,30.0
4,TELUS,3.6,Online Data Analyst - Mexico,https://www.glassdoor.com.mx/job-listing/onlin...,1008742314157,Trabajo desde casa,0,NaN,NaN,30.0

In [6]:
data.shape

(30, 10)